<!-- Services Section -->
    <section id="benefits" style="padding: 25px 0;">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Commmunity</h4>
                    <img class="img-rounded" src="img/11309420646_2b45ce10db.jpg" />
                    <p class="text-muted" style="font-size: 18px;">A mix of marketers, designers, logistics nerds.  We can't know everything. Together we increase our chances.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Manufacturing</h4>
                    <img class="img-rounded" src="img/187137807.jpg" />
                    <p class="text-muted" style="font-size: 18px;">Orientation to get the most out of visits. Translators to help communications. Leave ready to make your product.</p>

                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Marketing</h4>
                    <img class="img-rounded" src="img/crowdfunding-logos.jpg" />
                    <p class="text-muted" style="font-size: 18px;">Weekly sessions to review marketing content, images, and videos.  Getting feedback improves our marketing effectivness.</p>
                </div>
            </div>

        </div>



    </section>