<!-- Services Section -->
    <section id="benefits">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Product development on steriods</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Launch</h4>
                    <p>A mix of marketers, designers, logistics nerds.  We can't know everything. Together we increase our chances.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Your Product</h4>
                    <p class="text-muted">Finding a good manufacturer is not easy.  A mistake can cost you money and your reputation.  Local experts and a history of working with companies helps our community know what to look for.
                        Don't manufacture naked.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ship fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Local knowledge</h4>
                    <p class="text-muted">Two of our founders are local experts in China. We will have a translator and staff on hand that have local knowledge.</p>
                </div>
            </div>
            <div class="row center">
                <h1>MakersParadise.com</h1>
                <div class="col-md-8 col-md-offset-2" align="left">

                    <p class="lead">
                        *Everyone can be a creator. *
                    </p>

                    <p>"Our mission is to increase the rate of success for crowdfunding projects by bringing a group of motivated people together at the same time right in the heart of where new things get made.
                    </p>

                    <p>This is not a course or confernece, but a group of people who want to learn and get a solid advantage in developing their next product. Some of the things we want to make easier include:
                    </p>

                    Design
                    Work on developing marketing pages for our new products. We are going to screen some contract designers, and also have some group sessions to discuss how to reduce cost and get a quality design.

                    Manufacturing
                    We will have translators to go with us to factories, and a local sourcing company will provide orientation and training on how to select and negotiate with factories to reduce your risk and costs.

                    Marketing
                    We will have weekly group sesssions to review text, images, video, of our marketing and sales pages for our new product. We also are going to have folks who know how to use Facebook, Twitter, and Email marketing to gain a marketing advantage provide guidance.

                    Fun
                    People tend to be more productive when they have a chance to relax and are happy in general. China is not always an easy place to understand, so being together, eating at some nice places, and knowing we are part of a group which will help each other and includes some people who are experienced in China (and can speak Chinese) helps a lot.

                    Lastly
                    Our goal is to be inclusive and help as many people as we can. However we want to create a quality experience and we want the people who attend our event to have a chance to develop friendships. So we have to limit this event to 20 people.

                    What do you need to have to attend?
                    1 .Have a product idea in mind that you want to make and be able to describe it in such a way that factory can make it.
                    2. Be willing to put the time and effort to make your marketing and sale pages as well as do the other things to increase the success of your product launch.
                    3. Be someone who wants to help others and be helped by others, and who enjoys learning and growing together.

                    You do not have to be experienced in developing products, have a lot of money, and we are fine if you are still in University, retired, or currently working in another job.

                    What that means is, the sooner you apply the better!

                    It's free to apply, and we will setup a chance to chat via so we can get to know each other better and see if it is a good fit on both sides."
                    </p>

                </div>
            </div>
        </div>



    </section>