<!-- Services Section -->
    <section id="details">
        <div class="container">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading text-center">Cost breakdown</h2>
                        <table class="table text-muted center" id="cost-table">
                            <tr>
                                <th>Accommodation</th>
                                <td>Includes hotel in Hong Kong and a shared apartment or hotel in Shenzhen. There are single and double rooms available.</td>
                                <td>$800</td>
                            </tr>
                            <tr>
                                <th>Support staff</th>
                                <td>Local secretarial support to do translations, phone calls, organize factory appointments, order taxis or components.</td>
                                <td>$300</td>
                            </tr>
                            <tr>
                                <th>Transportation</th>
                                <td>Public transport in Hong Kong, shared vans in Shenzhen, train to Shenzhen, </td>
                                <td>$150</td>
                            </tr>
                            <tr>
                                <th>Group dinners and breakfasts</th>
                                <td>Bi-weekly dinners and regular breakfast meetings for networking.</td>
                                <td>$150</td>
                            </tr>                            
                            <tr>
                                <th>Various other items</th>
                                <td>Airport pickup, data SIM card for China and Hong Kong, visa</td>
                                <td>$100</td>
                            </tr>
                            <tr>                            
                                <th>Program fee</th>
                                <td>We are waiving the program fee for anyone who joins before July 2015.</td>
                                <td><strike>$500</strike></td>
                            </tr>
                                <th></th>
                                <td></td>
                                <td><b>$1500</b></td>
                            </tr>
                        </table>
                <p class="text-muted">Our team consists of experts, who share your passion for innovative hardware products. Organizational services provided by our local sourcing partner are charged at cost.</p>
            </div>
        </div>
    </section>