<!-- Services Section -->
    <section id="details">
        <div class="container">
            <div class="row center">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading text-center">Cost breakdown</h2>
                        <table class="table text-muted center" id="cost-table">
                            <tr>
                                <th>Accommodation</th>
                                <td>Includes hotel in Hong Kong and a shared apartment or hotel in Shenzhen.</td>
                                <td>$800</td>
                            </tr>
                            <tr>
                                <th>Support staff</th>
                                <td>Local secretarial support to do translations, phone calls, organize factory appointments, order taxis or components.</td>
                                <td>$300</td>
                            </tr>
                            <tr>
                                <th>Transportation</th>
                                <td>Public transport in Hong Kong, shared vans in Shenzhen, train to Shenzhen, </td>
                                <td>$150</td>
                            </tr>
                            <tr>
                                <th>Group dinners and breakfasts</th>
                                <td>Bi-weekly dinners and regular breakfast meetings for networking.</td>
                                <td>$150</td>
                            </tr>                            
                            <tr>
                                <th>Various other items</th>
                                <td>Airport pickup, data SIM card for China and Hong Kong, visa</td>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td><b>$1500</b></td>
                            </tr>
                        </table>
                <p class="text-muted">Our team consists of volunteers, who share your passion for innovative hardware products. Organizational services provided by our local sourcing partner are charged at cost.</p>

<!--                     <h2 class="section-heading text-center">Organizational details</h2>
                    <div class="col-lg-6">
                    <h3>What's included</h3>
                    <p class="text-muted">We take the pain out of sourcing from China, by providing you a structured and and pleasant environment. Our program includes:</p>
                    <ul class="text-muted">
                        <li>Airport transfer, flight recommendations</li>
                        <li>Team with a variety of skill to push your business</li>
                        <li>Regular demos, dinners and networking to help you reach goals and stay motivated.</li>
                        <li>Business visa to China, letter of invitation</li>
                        <li>Accommodation in a strategic location (single or double room)</li>
                        <li>Local secretarial support</li>
                        <li>Research team to find producers and factories</li>
                        <li>Work with local engineering students to improve CAD drafts or graphic design</li>
                        <li>Workshops on crowd-funding, sourcing, marketing and other topics (or run your own workshop)</li>
                    </ul>
                </div>

                        We estimate the monthly cost at $1500/month or $50 per day, when using a double room. This breaks down like this: 50-60% hotels, 20% Chinese support staff, 10-20% transport, 10% for group dinners and 10% for various items, like SIM cards, office expenses, etc. 
                        </p>
                        <p class="text-muted">
                        Once you are accepted into the program, we require a 50% deposit to be transferred to our Chinese organizer. They will use it for hotel deposits and other expenses.
                        </p>
                </div> -->
            </div>
        </div>
    </section>