<!-- Services Section -->
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">Organizational details</h2>
                    <div class="col-lg-6">
                    <h3>What's included</h3>
                    <p class="text-muted">We provide you with everything you need to efficiently work on your product. Our program includes:</p>
                    <ul class="text-muted">
                        <li>Airport transfer, flight recommendations</li>
                        <li>Volunteer team as local guides</li>
                        <li>Business visa to China, letter of invitation</li>
                        <li>Accomodation in a strategic location (single, double or suite)</li>
                        <li>Access to workshop and PCB printing facility (charged at cost)</li>
                        <li>Shared driver and courier for collecting parts</li>
                        <li>Local secretarial support</li>
                        <li>Research team to find producers and factories</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3>Approximate cost</h3>
                    
                        <p class="text-muted">Our team consists of volunteers, who share your passion for innovative hardware products. Organizational services provided by our local sourcing partner are charged at cost.</p>
                        <p class="text-muted">We estimate the monthly cost at USD 1200, when using a single room.</p>
                </div>

                </div>
            </div>
        </div>
    </section>