<!-- Services Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">FAQ</h2>
                    <div class="col-lg-6">
                        <h4>What kinds of products can I make?</h4>
                        <p class="text-muted">
                            You are free to work on any product that you want. We will be visiting the Hong Kong Electronics fair for the first few days, so you would probably gain more if you have a product which aligns with this.</p><br/>
                        <h4>What types of products will we focus on?</h4>
                        <p class="text-muted">
                            Each season we will choose a focus area. This makes it easier to visit factories,
                            identify the relevant trade shows, and provides the best chance for us to help each other.              </p>
                        <br/>
                        <h4>What do I need to apply?</h4>
                        <p class="text-muted">
                            You should already have a product idea and a problem you are looking to solve with it. Maybe even a target market and rough marketing strategy. Since we will visit the Hong Kong Electronics fair at the beginning of the program, you can also get inspirations from there and adapt something exisiting to your market.
                        </p>
                        <br/>
                        <h4>Can I join without doing Kickstarter?</h4>
                        <p class="text-muted">
                            Yes.
                            Crowdfunding is a great way to test demand for your product and reduce your risk by pre-selling a part of your first production run. If you already know your market, you can use other means of marketing as well.
                        </p>
                        <br/>
                    </div>
                    <div class="col-lg-6">
                        <h4>What will a typical day look like?</h4>
                        <p class="text-muted">
                            The first part of the program is structured around attending the Electronics fair and a selection of factories together. In the second part we will have a location to work on our projects, while iterating with manufacturers.
                        </p>
                        <br/>
                        <h4>What if I encounter problems?</h4>
                        <p class="text-muted">
                            There will be daily check-ins, breakfasts and dinners to discuss current progress and common problems. This will keep everyone motivated and accountable to their own goals.
                        </p>
                    </div>
                    <br/>
                    <div class="col-lg-6">
                        <h4>How do I choose a factory?</h4>
                        <p class="text-muted">
                            During the first week we wil go to the trade fair, you can quickly meet representatives from many companies and get a sense for their ability to make products similar to the one you have in mind.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h4>What will a typical day look like?</h4>
                        <p class="text-muted">
                            The first part of the program is structured around attending the Electronics fair and a selection of factories together. In the second part we will have a location to work on our projects, while iterating with manufacturers.
                        </p>
                        <br/>
                        <h4>How much time will we have with factories?</h4>
                        <p class="text-muted">
                            Three out of four weeks are planned to be spent in Shenzhen where most of the electronics factories are located. We should aim for several iterations of your product during this time.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </section>