<!-- Services Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">FAQ</h2>
                    <div class="col-lg-6">
                        <h4>What kinds of products can I make</h4>
                        <p class="text-muted">
                            Since Shenzhen is the world's biggest manufacturing cluster for electronic products, this will be the focus. If you are not sure, just contact us and let us know the product you are working on.
                        </p>
                        <h4>What do I need to apply?</h4>
                        <p class="text-muted">
                            You should already have a product idea and a problem you are looking to solve with it. Maybe even a target market and rough marketing strategy. Since we will visit the Hong Kong Electronics fair at the beginning of the program, you can also get inspirations from there and adapt something exisiting to your market.
                        </p>
                        <h4>Do I need to use Kickstarter or other Crowdfunding platforms to join?</h4>
                        <p class="text-muted">
                            Crowdfunding is a great way to test demand for your product and reduce your risk by pre-selling a part of your first production run. If you already know your market, you can use other means of marketing as well.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h4>What will a typical day look like?</h4>
                        <p class="text-muted">
                            The first part of the program is structured around attending the Electronics fair and a selection of factories together. In the second part we will have a location to work on our projects, while iterating with manufacturers.
                        </p>
                        <p class="text-muted">
                            There will be daily check-ins, breakfasts and dinners to discuss current progress and common problems. This will keep everyone motivated and accountable to their own goals.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>