<section id="mission" style="padding: 40px 0;">
    <div class="container">
        <div class="row center">
            <div class="col-md-8 col-md-offset-2" align="center">
            <p class="lead" style="font-size: 24px;">Everyone can be a creator.</p>
            </div>
            <div class="col-md-8 col-md-offset-2" align="left" class="text-muted">
                <p class="text-muted"  style="font-size: 14px;">Want to be part of a group of people doing the same thing?</p>

                <p class="text-muted"  style="font-size: 14px;">Join other 20 creators this fall in China! (first time creators welcome)</p>

                <p class="text-muted"  style="font-size: 14px;"><b>1. Community. </b> Learning together is better than navigating a foreign country by ourselves.</p>


                <p class="text-muted"  style="font-size: 14px;"><b>2. Manufacturing. </b> Getting a good manufacturer helps you to know your product costs are reasonable, and reduces future problems.</p>

                <p class="text-muted"  style="font-size: 14px;">
                <b>3. Marketing. </b> We will focus time each week on how to market our upcoming product.</p>

                <hr/>

            </div>
        </div>
    </div>
</section>