<section id="mission" style="padding: 25px 0;">
    <div class="container">
        <div class="row center">

            <div class="col-md-8 col-md-offset-2" align="left">

                <h5 class="lead text-muted" style="text-align: center;">Everyone can be a creator.</h5>


                <p class="text-muted">This is not a course or confernece, but a group of people who want to learn and get a solid advantage in developing their next product. Some of the things we want to make easier include:
                </p>

                <p class="lead">Design</p>
                <p class="text-muted">
                Work on developing marketing pages for our new products. We are going to screen some contract designers, and also have some group sessions to discuss how to reduce cost and get a quality design.
                </p>

                <p class="lead">Manufacturing</p>
                <p class="text-muted">We will have translators to go with us to factories, and a local sourcing company will provide orientation and training on how to select and negotiate with factories to reduce your risk and costs.</p>

                <p class="lead">Marketing</p>
                <p class="text-muted">We will have weekly group sesssions to review text, images, video, of our marketing and sales pages for our new product. We also are going to have folks who know how to use Facebook, Twitter, and Email marketing to gain a marketing advantage provide guidance.</p>

            </div>
        </div>
    </div>
</section>