<section id="mission" style="padding: 10px 0;">
    <div class="container">
        <div class="row center">
            <div class="col-md-8 col-md-offset-2" align="center">
            <p class="lead" style="font-size: 24px;">What kinds of people should apply?</p>
            </div>
            <div class="col-md-8 col-md-offset-2" align="left">
            <p class="text-muted" style="font-size: 18px;">
                You should have an idea of the product you want to create already and be ready to look for a manufacturer. Usually the manufacter will give you feedback on ways to make the product less expensive, higher quality, or get the product done faster.

                Our focus is on products that utilize electronics.</p>

            </div>
        </div>
    </div>
</section>