<!-- About Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">4 weeks in Shenzhen</h2>
                    <h3 class="section-subheading text-muted">Work in the world's biggest hardware cluster, fully focus on your project.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/program/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>From October 11</h4>
                                    <h4 class="subheading">Hong Kong Electronics Fair</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our group arrives in Hong Kong and visits  Asia's biggest electronics trade fair. After some preparations, we visit the fair in small teams and make sure you get the most out of it.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/program/shenzhen.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>From October 16</h4>
                                    <h4 class="subheading">Stay in Shenzhen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We move to Shenzhen and visit factories, relevant to your product. You can start iterating your product design and order prototypes. We will also connect you to local engineers, designers and startups.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/14881628197_cb1dd4b0f9_n.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>From October 23</h4>
                                    <h4 class="subheading">Work on Kickstarter campaigns and marketing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You have an idea of what your product will look like and where to make it. Time to start working on spreading the word and preparing for launching your campaign on Kickstarter.</p>
                                    <p class="text-muted">We have a team of camera men, designers and editors standing by to support you with this task. Some are professionals, some are local graduates, eager to connect with international entrepreneurs. Regular demos and check-ins make sure you are on track.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Launch
                                    <br>Your
                                    <br>Product</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 6</h4>
                                    <h4 class="subheading">Launch Crowdfunding campaigns.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You did it. Your crowdfunding campaign is ready to lauch. You have your prototypes finalized and the factory is standing by to start making your product. This is an exciting time and can be the beginning of a new business venture.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>