<!-- About Section -->
    <section class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="testimonial">
                        <li>
                            <div class="testimonial-image">
                                <img class="img-circle img-responsive" src="img/testimonials/mark.jpg" alt="">
                            </div>
                            <div class="testimonial-panel">
                                <div class="testimonial-body">
                                    <p class="text-muted">"I know some people who try to make their products without going to China, and they often face problems later. Going as a group also has advantages because you can learn from each other. MakersParadise could turn into a good way for people to get their products to market faster."</p>
                                    <p class="text-muted"><b>Mark Brenwall</b></br>
                                        CEO of WAD Nation
                                        </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>