<!-- About Section -->
    <section class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="testimonial">
                        <li>
                            <div class="testimonial-image">
                                <img class="img-circle img-responsive" src="img/testimonials/hermann.jpg" alt="">
                            </div>
                            <div class="testimonial-panel">
                                <div class="testimonial-body">
                                    <p class="text-muted">"For us a Gericom, sourcing hardware in Asia was the backbone of our whole business model. Product development, supplier management, logistics and marketing all need to be executed flawlessly. There are many challenges involved. I believe tackling these as a group will greatly improve your chances of success."</p>
                                    <p class="text-muted">
                                        <b>Hermann Oberlehner</b></br>
                                    Founder of Gericom, Europe's biggest Notebook computer company 2000 to 2003
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>